/*--------------------------------------------------------------
12.0 Footer
--------------------------------------------------------------*/
footer {
  padding-top: em(40px);
  padding-bottom: em(40px);
  font-size: em(12px);
  font-weight: 300;
  color: #07203f;
  text-align: center;
}
